[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests ="*"
h5py = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
black = "*"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
